<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome To The MBE Index</h1>
      <h2>Methodology</h2>
      <p>
        Track the sum of store brand milk bread and eggs from middle/low income super markets in the 19713 zipcode
      </p>
      <a href="https://docs.google.com/spreadsheets/d/1_apmmz2Be9-t40xQAFqoU6q0B94uL0moYbsBIMEZVxM/edit?usp=sharing" target="_blank">
        <button class="btn btn-primary" >Data Set</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width: 100%;">
      <div class="card-body">
          <h2 class="card-title">The Average Price Of Milk, Bread, & Eggs Is: </h2>
          <iframe width="371" height="auto" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=464318886&amp;format=image"></iframe>
        </div>
    </div>
  </div>
  <h2>Breakdown</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="266" height="165" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=1770493458&amp;format=interactive"></iframe>          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="266" height="165" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=738831314&amp;format=interactive"></iframe>          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="266" height="165" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=92147967&amp;format=interactive"></iframe>          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="234" height="144" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=662790617&amp;format=interactive"></iframe>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="234" height="144" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=2119102224&amp;format=interactive"></iframe>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <iframe width="234" height="144" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=713944358&amp;format=interactive"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><iframe width="{{mobWidth}}" height="{{mobHeight}}" seamless frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vR-h6sgaMuHr0Khi8kJySN4SnlzW8w0c0vJ7OqWfuOmb2oD_SoEd35Mqx4WoG68nYlg_Qr6N1qT6R5y/pubchart?oid=81898892&amp;format=image"></iframe>
    </div>
  </div>

</div>
